<%- include('includes/head.ejs') %>
  <body>
    <div class="container">
      <h1>This is The Home Page</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo
        asperiores doloribus ullam corporis tenetur eaque corrupti ab.
        Reiciendis, temporibus culpa. Suscipit inventore, nulla minima ipsum
        consequuntur cumque vitae incidunt possimus doloribus? Rerum nostrum nam
        nemo minima provident illum voluptatem obcaecati vitae at. Impedit
        molestias deleniti officia ex cum, laudantium sunt.
      </p>
      <button>Click me</button>
    </div>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
