<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <p>You can edit this page:<b> <%=user.email %></b></p>

    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
      <textarea name="username"><%= user.username %></textarea>
      <br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
